# Server Configuration
PORT=5000
NODE_ENV=development

# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:password@localhost:5432/campusconnect?schema=public"

# Authentication & Security
JWT_SECRET="your_super_secret_jwt_key_at_least_32_characters_long"

# Client Base URL (for verification & password reset links)
CLIENT_BASE_URL="http://localhost:5173"
